/*  weather.css */

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;  
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* DRAWING CSS */
html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 140%;  
  margin: 0 auto;
  padding: 0;
  width: 100%;  
}

.container,
.weather-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;  
}

/* HEADER */
header {
  background-color: #ddd;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.header-title {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  margin: 10px 20px;
}

.weather-search {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  float: right;
  height: 30px;
  margin: 5px 10px;
  padding: 2px 5px;
  width: 40%;
}

/* MAIN */
.weather-main {
  background-color: #eee;
  flex: 1 0 auto;
  margin: 0;
  padding: 2.5%;
  position: relative;
  width: 95%;
}

.weather-forecast-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  margin: 0;
  margin-left: 5%;
  max-height: 300px;
  position: relative;
  text-align: center;  
  width: 90%;
}


.weather-icon {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.weather-icon img {
  width: 100px;
}

.weather-city-title {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  margin: 5px 0;
}

.weather-temp {
  margin: 0 10px;
}

.weather-description {
  color: #999;
  font-size: 18px;
  font-style: italic;
  line-height: 120%;
  margin: 5px 0;
  text-transform: capitalize;
}

.weather-info-row {
  margin: 0 auto;
  padding: 5px 0;
  position: relative;
  width: 100%;
}

.weather-info-text {
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
  margin: 0 10px;
}

.weather-info-text span:last-child {
  margin-left: 5px;
}




/* FOOTER */
footer {
  background-color: #999;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.footer-copy {
  display: inline-block;  
  font-size: 14px;
  margin: 10px 20px;
}